<div class="main-navbar shadow-sm sticky-top">
  <!-- Top Navbar -->
  <div class="top-navbar">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-2 d-none d-md-block">
          <h5 class="brand-name">Sail Nails</h5>
        </div>
        <div class="col-md-5">
          <form role="search">
            <div class="input-group">
              <input type="search" class="form-control" placeholder="Search your product">
              <button class="btn btn-light" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-5 text-end">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" ><i class="fas fa-shipping-fast me-1"></i>Order Tracking</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="fas fa-shopping-cart me-1"></i>Cart (0)</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="fas fa-heart me-1"></i>Wishlist (0)</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                <i class="fas fa-user me-1"></i>Profile
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" ><i class="fas fa-sign-in-alt me-2"></i>Login</a></li>
                <li><a class="dropdown-item" ><i class="fas fa-box me-2"></i>My Orders</a></li>
                <li><a class="dropdown-item" ><i class="fas fa-heart me-2"></i>My Wishlist</a></li>
                <li><a class="dropdown-item" ><i class="fas fa-shopping-cart me-2"></i>My Cart</a></li>
                <li><a class="dropdown-item"><i class="fas fa-sign-out-alt me-2"></i>Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Menu Navbar -->
  <nav class="navbar navbar-expand-lg main-menu-navbar">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">All Categories</a>
            <ul class="dropdown-menu">
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" routerLink="/wire">Binding Wire</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">HB Wire</a></li>
                  <li><a class="dropdown-item" href="#">Construction Binding Wire</a></li>
                  <li><a class="dropdown-item" href="#">Binding Wires</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" routerLink="/nails">Nails</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">2"x10 Nails</a></li>
                  <li><a class="dropdown-item" href="#">3 in nails</a></li>
                  <li><a class="dropdown-item" href="#">Concrete nails</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="#">New Arrivals</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Product Stock</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Get Quote</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
