
<br><div class="text-center bold">
    <h1 style="color: rgb(32, 32, 131);">Nails products</h1>
  </div>
  <div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <img src="https://img.youtube.com/vi/TXsYpaNJuWc/0.jpg" class="card-img-top" alt="Waterfall" />
              <div class="card-body text-center">
                <h5 class="card-title">2*10 Nails</h5>
                <p class="card-text">

                </p>
                <a href="#!" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary ">Add to cart</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9ybF3VlFpfasLFpOmi4pqvXzKZRJXU9peyw&s" class="card-img-top"
                alt="Sunset Over the Sea" />
              <div class="card-body text-center">
                <h5 class="card-title">3 in Nails</h5>
                <p class="card-text">

                </p>
                <a href="#!" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">Add to cart</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img src="https://static1.industrybuying.com/products/fasteners/nailer-stapler-accessories/nails/FAS.NAI.820397581_1690353021704.webp" class="card-img-top"
                alt="Sunset over the Sea" />
              <div class="card-body text-center">
                <h5 class="card-title">Concrete Nails</h5>
                <p class="card-text">

                </p>
                <a href="#!" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">Add to cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
