<app-home></app-home>
<br><br>
<h1 class="text-center" style="color: rgb(38, 38, 109);">LogOut</h1>
<br><br>
  <div class="text-center">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Click to Logout</button>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1> -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are You Sure You Want To Log Out?
        </div>
        <div class="modal-footer">
          <button type="button" (click)="onLogOut()" class="btn btn-secondary" data-bs-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-primary">No</button>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br>