<div class="text-center bold">
  <h1 style="color: rgb(32, 32, 131);">Binding Wire products</h1>
</div>
<div class="carousel-inner py-4">
  <!-- Single item -->
  <div class="carousel-item active">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <img src="https://5.imimg.com/data5/CN/HR/MY-24267970/ms-binding-wire.jpg" class="card-img-top"
                alt="HB Wire"
                style="width: 100%; height: 250px; object-fit: cover; transition: transform 0.3s ease;"
                onmouseover="this.style.transform='scale(1.05)'"
                onmouseout="this.style.transform='scale(1)'">
            <div class="card-body text-center">
              <h5 class="card-title">HB Wire</h5>
              <p class="card-text">

              </p>
              <a href="#!" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary ">Add to cart</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 d-none d-lg-block">
          <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIvD83PC48heY8RX2j93vuQtAj1UL01CiRrw&s"
                class="card-img-top"
                alt="Construction Binding Wire"
                style="width: 100%; height: 250px; object-fit: cover; transition: transform 0.3s ease;"
                onmouseover="this.style.transform='scale(1.05)'"
                onmouseout="this.style.transform='scale(1)'">
            <div class="card-body text-center">
              <h5 class="card-title">Construction Binding Wire</h5>
              <p class="card-text">

              </p>
              <a href="#!" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">Add to cart</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 d-none d-lg-block">
          <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIvD83PC48heY8RX2j93vuQtAj1UL01CiRrw&s"
            class="card-img-top"
            alt="Binding Wire 3"
            style="width: 100%; height: 250px; object-fit: cover; transition: transform 0.3s ease;"
            onmouseover="this.style.transform='scale(1.05)'"
            onmouseout="this.style.transform='scale(1)'">
            <div class="card-body text-center">
              <h5 class="card-title">Binding WireC</h5>
              <p class="card-text">

              </p>
              <a href="#!" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
